* {
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: fantasy, Arial, Helvetica, sans-serif;
}

body {
    background: rgb(134, 173, 61);
    height: fit-content;
    min-width: -webkit-fill-available;
    min-height: -webkit-fill-available;
    position: absolute;
    width: fit-content;
    overflow: hidden;
    box-shadow: inset 0px 0px 150px #00000085;
}

#con-map {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: auto;
}

#con-map::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color: #00000000;
}

#con-map::-webkit-scrollbar-track {
    width: 0;
    height: 0;
    background: rgba(0,0,0,0);
}

#con-map::-webkit-scrollbar-thumb {
    width: 0;
    height: 0;
    background: #00000000;
    border-radius: 5px;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: fit-content;
    margin: auto;
    width: fit-content;
}

div[data-string] {
    display: flex;
}

div[data-block] {
    position: relative;
    width: 50px;
    height: 50px;
    border: 1px solid #ffffff17;
    box-sizing: border-box;
    float: left;
    transition: 0.3s;
    cursor: pointer;
    background-repeat: no-repeat;
    text-align: center;
    line-height: 50px;
}

div[data-block]:hover {
    background-color: rgba(147, 231, 165, 0.37);
}

.monster {
    position: absolute;
    width: 35px;
    height: 35px;
    transition: 0.1s;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
}

.imageMonster {
    position: absolute;
    width: 35px;
    height: 35px;
    background-position: 50%;
    transition: 0.1s;
    top: 0;
    left: 0;
}

.hpBlock {
    position: absolute;
    width: 35px;
    height: 5px;
    border: 1px solid #fff;
    top: -15px;
    left: -5px;
}

#hp {
    position: fixed;
    width: 60px;
    height: 60px;
    border: 3px solid #fff;
    border-radius: 50%;
    box-sizing: border-box;
    left: calc(50% - 35px);
    top: 20px;
    color: #fff;
    text-align: center;
    box-shadow: 1px 1px 1px #4f5354;
    z-index: 1;
    pointer-events: none;
}

#textHp {
    position: absolute;
    width: inherit;
    left: -3px;
    top: 20px;
    text-shadow: 1px 1px 1px #4f5354;
}

.hp {
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: rgb(209, 110, 110);
}

.tower1 {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 0;
    top: 0;
    background-image: url(images/tower.png);
    background-size: 800%;
    background-repeat: no-repeat;
    background-position: -83px -100px;
    transition: 0.3s;
    z-index: 1;
}

.tower1:hover .zona {
    opacity: 1;
}

.zona {
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: rgba(0, 128, 0, 0.397);
    left: -50px;
    top: -50px;
    z-index: -1;
    transition: 0.3s;
    opacity: 0;
    pointer-events: none;
    border-radius: 50%;
}

.userBlock {
    position: fixed;
    z-index: 2;
    left: 20px;
    top: 0;
}

.userPhoto {
    position: absolute;
    top: 25px;
    width: 70px;
    height: 70px;
    background-image: url(images/camera.jpg);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    border-radius: 50%;
    box-sizing: border-box;
}

.userName {
    position: absolute;
    color: #fff;
    font-size: 130%;
    font-weight: bold;
    top: 35px;
    width: max-content;
    text-shadow: 1px 1px 1px #4f5354;
    left: 90px;
}

.userRe {
    position: absolute;
    color: #fff;
    top: 60px;
    left: 90px;
    width: max-content;
    text-shadow: 1px 1px 1px #4f5354;
}

#goldBlock {
    position: absolute;
    width: max-content;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    left: 0;
    top: 110px;
    padding-left: 10px;
    padding-right: 10px;
    color: #fff;
    display: none;
}

#nextWave {
    position: absolute;
    bottom: 30px;
    width: 100%;
    text-align: center;
    pointer-events: none;
    color: #fff;
    text-shadow: 1px 1px 1px #4f5354;
    z-index: 1;
}

#wave {
    position: absolute;
    bottom: 50px;
    width: 100%;
    text-align: center;
    pointer-events: none;
    color: #fff;
    text-shadow: 1px 1px 1px #4f5354;
    z-index: 1;
}

#flag {
    position: fixed;
    width: 40px;
    height: 40px;
    top: 30px;
    left: calc(50% + 40px);
    cursor: pointer;
    z-index: 1;
}

#hub {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    background: linear-gradient(-45deg, #62ff00, #3ce7a0, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

#bottomRight {
    position: fixed;
    right: 0;
    bottom: 35px;
    left: 0;
    margin: 0 auto;
    width: fit-content;
    z-index: 1;
}

.buttonBottomRight {
    position: relative;
    float: right;
    bottom: 0;
    margin-left: 15px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.buttonBottomRight:hover {
    bottom: 10px;
}

.buttonBottomRight span {
    color: #fff;
    top: 60px;
    position: absolute;
    text-shadow: 1px 1px 1px #4f5354;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: fit-content;
}

.buttonBottomRight svg {
    width: 40px;
    position: absolute;
    left: 10px;
    top: 10px;
}

#buttonGoPlay {
    position: absolute;
    width: 80%;
    height: 55px;
    color: #fff;
    background: linear-gradient(to right, rgb(238 241 17), rgb(245, 175, 25));
    left: 0;
    right: 0;
    bottom: -100px;
    margin: 0 auto;
    text-align: center;
    line-height: 50px;
    font-size: 150%;
    border-radius: 15px;
    text-shadow: 1px 1px 1px #4f5354;
    overflow: hidden;
    border: 3px solid #fff;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.4s;
}

#buttonGoPlay:hover {
    background: linear-gradient(to right, rgb(241 172 17), rgb(245 116 25));
    bottom: -90px;
}

#buttonGoPlay .flare {
    position: absolute;
    top: 0;
    height: 100%;
    width: 45px;
    transform: skewX(-45deg);
    animation: flareAnimation;
    left: -150%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
    animation: flareAnimation 3s infinite linear;
}

.topPanel {
    position: relative;
    width: max-content;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    right: 60px;
    top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    color: #fff;
    float: right;
    margin-left: 45px;
    z-index: 1;
    text-shadow: 1px 1px 1px #4f5354;
}

#menuTablo {
    background: repeating-linear-gradient(30deg, #ffffff, #f1f1f5 50px);
    border-radius: 15px;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 100px;
    width: 65%;
    min-width: 530px;
    height: fit-content;
    position: absolute;
}

.donateButton {
    background: #f9c03e;
    width: 40px;
    height: 40px;
    color: #fff;
    right: -35px;
    position: absolute;
    top: 0;
    text-align: center;
    line-height: 40px;
    font-size: 200%;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    transition: 0.3s;
}

.donateButton:hover {
    background: #4ad161;
}

#backgroundBlack {
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
    background-color: #000000a8;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 2;
}

#voiceMap {
    position: absolute;
    max-width: 1100px;
    width: 100%;
    height: calc(100% - 220px);
    overflow-y: auto;
    overflow-x: hidden;
    top: 120px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

#voiceMap::-webkit-scrollbar {
    width: 0;
    height: 5px;
    background-color: #00000000;
}

#voiceMap::-webkit-scrollbar-track {
    background: rgba(0,0,0,0);
}

#voiceMap::-webkit-scrollbar-thumb {
    background: #00000042;;
    border-radius: 5px;
}

#hubMapConstruction {
    position: absolute;
    width: 900px;
    top: 150px;
    transform-style: preserve-3d;
    transform: perspective(10000px) rotateX(-35deg) rotateY(45deg);
}

.mapPlanetImage {
    position: absolute;
    background-repeat: no-repeat;
    background-image: url(images/location/1.png);
    pointer-events: none;
    width: 100px;
    height: 100px;
    margin-top: 50px;
}

.cube {
    width: 50px;
    height: 50px;
    position: absolute;
    transform-style: preserve-3d;
}

.cube > article {
    height: 100%;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    position: absolute;
    transform-style: preserve-3d;
}

/*.warIcon {
    width: 80px;
    height: 80px;
    background-size: 480px;
    position: absolute;
    background-repeat: no-repeat;
    background-image: url(images/icon.png);
    transform: scale(0.6);
    filter: opacity(0.45);
    cursor: pointer;
    transition: 0.3s;
    margin-top: 50px;
}

.warIcon:hover {
    margin-top: 40px;
}*/

.warCon {
    width: 80px;
    height: 80px;
    position: relative;
    cursor: pointer;
    transition: 0.3s;
    margin: 10px;
    float: left;
    background: #888;
    border: 5px solid #555;
    box-sizing: border-box;
    border-radius: 20px;
}

.warCon > span {
    color: #fff;
    font-size: 160%;
    text-align: center;
    width: 100%;
    position: absolute;
}

.warIcon {
    width: 80px;
    height: 80px;
    background-size: 480px;
    position: absolute;
    background-repeat: no-repeat;
    background-image: url(images/icon.png);
    transform: scale(0.7);
    filter: opacity(0.45);
}

#scaleMap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.openlvlBlock {
    background-position: 0px -140px;
}

.openlvl0 {
    background-position: -90px -140px;
    filter: drop-shadow(0px 0px 10px gold);
}

.openlvl1 {
    background-position: -174px -140px;
    filter: drop-shadow(0px 0px 10px gold);
}

.openlvl2 {
    background-position: -258px -120px;
    filter: drop-shadow(0px 0px 10px gold);
    background-size: 450px;
}

.openlvl3 {
    background-position: -364px -120px;
    filter: drop-shadow(0px 0px 10px gold);
    background-size: 450px;
}

.back   {transform: rotateX(-180deg) translateZ(25px)}
.top    {transform: rotateX( 90deg)  translateZ(25px)}
.front  {transform:                  translateZ(25px)}
.bottom {transform: rotateX(-90deg)  translateZ(25px)}
.left   {transform: rotateY(-90deg)  translateZ(25px)}
.right  {transform: rotateY( 90deg)  translateZ(25px)}

section[data-function="ground"] .top    {background: rgb(134, 173, 61);background-repeat: no-repeat;background-size: 1100%}
section[data-function="ground"] .front  {background: linear-gradient(0deg, #685c4a, #b88236);border-top: 10px solid rgb(95, 126, 37)}
section[data-function="ground"] .left   {background: linear-gradient(0deg, #685c4a, #b88236);border-top: 10px solid rgb(95, 126, 37)}

section[data-function="water"] .top    {background: #0066ff8c}
section[data-function="water"] .front  {background: #0066ff8c}

.curcleVoiceTower {
    width: 40px;
    height: 40px;
    background: #b7592c;
    border-radius: 50%;
    box-sizing: border-box;
    border: 2px solid #dfa12f;
    position: absolute;
    z-index: 2;
    opacity: 0;
    transition: 0.5s;
}

.curcleVoiceTower:hover {
    background: #dbb322
}

/* При нажатии на пустую клетку */
.curcleVoiceTower:nth-child(1) {
    left: -25px;
    top: -25px;
}

.curcleVoiceTower:nth-child(3) {
    left: 25px;
    top: -25px;
}

.curcleVoiceTower:nth-child(4) {
    left: 25px;
    top: 25px;
}

.curcleVoiceTower:nth-child(5) {
    left: -25px;
    top: 25px;
}

.curcleVoiceTower:nth-child(6) {
    left: 25px;
    top: 25px;
}

.curcleVoiceTower:nth-child(7) {
    left: 25px;
    top: 25px;
}

/* При нажатии на уже существующую башню */
    .curcleVoiceTower:nth-child(2) {
        left: 0px;
        top: -25px;
    }

    .curcleVoiceTower > span {
        color: #fff;
        position: absolute;
        height: inherit;
    }


div[data-block] > span {
    color: #fff;
    text-shadow: #000 0px 1px 1px;
    position: absolute;
    font-family: sh, fantasy;
    z-index: 2;
    pointer-events: none;
}

div[data-block] > span:nth-child(2) {
    left: -25px;
    top: -45px;
}

div[data-block] > span:nth-child(4) {
    left: 25px;
    top: -45px;
}

div[data-block] > span:nth-child(6) {
    left: -25px;
    top: 5px;
}

div[data-block] > span:nth-child(8) {
    left: 25px;
    top: 5px;
}

.curcleVoiceTower > svg {
    width: 25px;
    margin-top: 5px;
}

#imageLvl {
    position: relative;
    width: 50%;
    height: 150px;
    background-color: #6c9867;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    left: 15px;
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

#nameMis {
    position: absolute;
    color: #333;
    font-size: 150%;
    left: 55%;
    top: 20px;
}

#numMis {
    position: absolute;
    color: #8f8f8f;
    font-size: 120%;
    left: 55%;
    top: 55px;
}

#rewardText {
    position: absolute;
    color: #8f8f8f;
    font-size: 120%;
    left: 55%;
    top: 100px;
}

#closeMenuTablo {
    position: absolute;
    right: 3%;
    color: #ffa5a5;
    top: 10px;
    text-shadow: 1px 1px 1px #4f5354;
    font-size: 200%;
    cursor: pointer;
    transition: 0.3s;
    z-index: 1;
}

#closeMenuTablo:hover {
    color: #be3838;
    text-shadow: none;
}

#moneyRewardMenu {
    position: absolute;
    bottom: 10px;
    width: 40px;
    left: 55%;
}

.moneyRewardMenu {
    position: relative;
    bottom: 0;
    width: 80px;
    left: 0;
}

.winRewardWar {
    position: relative;
    left: 0;
    top: auto;
    bottom: 30px;
    font-size: 160%;
}

#chipRewardMenu {
    position: absolute;
    top: 130px;
    width: 30px;
    left: 70%;
}

.winRewardMenu {
    position: absolute;
    color: #333;
    top: 137px;
    font-size: 120%;
}

#moneyHub {
    letter-spacing: 2px;
    margin-left: 40px;
    position: relative;
    top: 10px;
    text-shadow: 1px 1px 1px #4f5354;
}

#textResultWar {
    position: relative;
    text-align: center;
    font-size: 120%;
    margin-top: 20px;
    color: #8f8f8f;
}

#con-star {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.star {
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    filter: drop-shadow(0px 5px 10px orange);
}

#tabName {
    position: relative;
    text-align: center;
    color: #fff;
    text-shadow: #00000045 0px 3px 3px;
    line-height: 70px;
    height: 70px;
    font-size: 180%;
    background: linear-gradient(45deg, #f9c03e, #ff6a00);
}

#topPanelShop {
    height: 40px;
    width: 65%;
    min-width: 530px;
    position: fixed;
    background: #ececff;
}

.tabShop {
    position: relative;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    height: inherit;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    transition: 0.2s;
    color: #333;
    background: rgba(255, 255, 255, 0);
}

.tabShop:hover {
    color: #f9c03e;
    background: #0000ff17;
}

.tabShop[dataVoiceShopTab] {
    color: #ff7a2c;
}

#mapsShop {
    position: relative;
    overflow: auto;
    width: calc(100% - 40px);
    height: calc(100% - 130px);
    margin-top: 65px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#mapsShop::-webkit-scrollbar {
    width: 8px;
    background-color: #00000000;
}

#mapsShop::-webkit-scrollbar-track {
    background: rgba(0,0,0,0);
}

#mapsShop::-webkit-scrollbar-thumb {
    background: #00000042;;
    border-radius: 5px;
}

.mapShop {
    position: relative;
    width: 200px;
    height: 310px;
    display: inline-block;
    transition: 0.2s;
    color: #333;
    background: #fff;
    border: 1px solid #0000ff17;
    margin-bottom: 15px;
    border-radius: 10px;
}

#mapsShop[data-label="shop"] > .mapShop:not([data-name-menu="1"]) {
    height: 200px;
}

.imgMap {
    position: relative;
    width: 180px;
    height: 140px;
    background: #0000ff0f;
    left: 10px;
    background-image: url(images/tower.png);
    background-size: 700%;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.buyShop {
    position: absolute;
    width: 180px;
    height: 40px;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    font-size: 120%;
    line-height: 40px;
    left: 10px;
    bottom: 10px;
}

.buyShop:not([data-buy]) {
    cursor: pointer;
    background: linear-gradient(45deg, #30ed50, #4ad161);
    transition: 0.3s;
}

.buyShop:not([data-buy]):hover {
    background: linear-gradient(20deg, #16934e, #00ff08);
    bottom: 15px;
}

.mapName {
    position: absolute;
    color: #333;
    text-align: center;
    font-size: 120%;
    width: inherit;
}

.mapText {
    position: absolute;
    color: #8f8f8f;
    text-align: center;
    font-size: 90%;
    width: 80%;
    left: 10%;
}

.rechargeMapText {
    position: absolute;
    color: #333;
    font-size: 100%;
    left: 10%;
    top: 210px;
}

.rechargeMap {
    position: absolute;
    width: 70px;
    height: 10px;
    background: #0000ff0f;
    right: 10px;
    top: 220px;
}

.damageMapText {
    position: absolute;
    color: #333;
    font-size: 100%;
    left: 10%;
    top: 230px;
}

.damageMap {
    position: absolute;
    width: 70px;
    height: 10px;
    background: #0000ff0f;
    right: 10px;
    top: 240px;
}

.goal {
    position: absolute;
    height: 10px;
    left: 0;
}

.moneyMap {
    position: relative;
    bottom: 0;
    width: 40px;
    left: 5%;
    float: left;
}

#warning {
    position: fixed;
    left: 0;
    right: 0;
    top: 20px;
    margin: 0 auto;
    z-index: 2;
    background: #fff;
    color: #ff5d5d;
    width: fit-content;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 120%;
    border-radius: 30px;
    box-shadow: #0000006b 0px 10px 10px;
    border-bottom: 5px solid #ff5d5d;
    text-align: center;
    display: none;
}

#newVolna {
    position: fixed;
    text-align: center;
    width: 400px;
    max-width: 90%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: fit-content;
    font-size: 500%;
    color: #ffa200;
    background: #00000080;
    border-radius: 35px;
    text-shadow: #ffebe0 3px 3px 0px;
    box-shadow: #000000 0 0 100px;
    pointer-events: none;
    opacity: 0;
    transition: 1s;
    z-index: 1;
}

.imgDecor1 {
    background-size: 1100%;
    background-image: url('images/location/1.png');
    background-position: -50px -175px;
}

.imgDecor2 {
    background-size: 1100%;
    background-image: url('images/location/1.png');
    background-position: -132px -162px;
}

.imgDecor3 {
    background-size: 1000%;
    background-image: url('images/location/1.png');
    background-position: -55px -241px;
}

.imgDecor4 {
    background-size: 1000%;
    background-image: url(images/location/1.png);
    background-position: -55px -241px;
    transform: rotate(90deg);
}

.imgDecor5 {
    background-size: 1000%;
    background-image: url('images/location/1.png');
    background-position: -55px -241px;
    transform: rotate(180deg);
}

.imgDecor6 {
    background-size: 1000%;
    background-image: url('images/location/1.png');
    background-position: -55px -241px;
    transform: rotate(270deg);
}

.imgDecor7 {
    background-size: 1000%;
    background-image: url(images/location/1.png);
    background-position: -89px -97px;
}

.imgDecor8 {
    background-size: 1100%;
    background-image: url("images/location/1.png");
    background-position: -17px -26px;
}

.imgDecor9 {
    background-size: 1050%;
    background-image: url(images/location/1.png);
    background-position: -16px -105px;
}

.imgDecor10 {
    background-size: 1100%;
    background-image: url("images/location/1.png");
    background-position: -99px -26px;
}

.imgDecor11 {
    background-size: 1100%;
    background-image: url("images/location/1.png");
    background-position: -455px -205px;
}

.imgDecor12 {
    background-size: 1100%;
    background-image: url("images/location/1.png");
    background-position: -320px -205px;
}

.imgDecor13 {
    background-size: 1100%;
    background-image: url("images/location/1.png");
    background-position: -375px -205px;
}

.imgDecor14 {
    background-size: 1100%;
    background-image: url("images/location/1.png");
    background-position: -380px -275px;
}

.imgDecor15 {
    background-size: 1100%;
    background-image: url("images/location/1.png");
    background-position: -315px -285px;
}

.imgDecor16 {
    background-size: 900%;
    background-image: url("images/location/1.png");
    background-position: -365px -210px;
}

.imgDecor17 {
    background-size: 900%;
    background-image: url("images/location/1.png");
    background-position: -360px -40px;
}

.imgDecor18 {
    background-size: 900%;
    background-image: url("images/location/1.png");
    background-position: -312px -40px;
}

.imgDecor19 {
    background-size: 650%;
    background-image: url("images/location/1.png");
    background-position: -185px -16px;
}

.imgDecor20 {
    background-size: 1000%;
    background-image: url("images/location/1.png");
    background-position: -199px -239px;
}

.star-tower {
    position: relative;
    width: 15px;
    float: right;
    margin-top: 30px;
}

.but-game-stop {
    position: relative;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-size: 120%;
    color: #8f8f8f;
    cursor: pointer;
    transition: 0.3s;
}

.but-game-stop:hover {
    color: orange;
}

#energy {
    letter-spacing: 2px;
    margin-left: 30px;
    position: relative;
    top: 10px;
    text-shadow: 1px 1px 1px #4f5354;
}

.resultWarCon {
    position: relative;
    width: fit-content;
    margin: 10px;
}

#gena {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 300px;
    height: 300px;
    background-image: url('images/gena.png');
    background-size: 100%;
}

#genaText {
    position: absolute;
    background-color: #fbb025;
    border: 10px solid #996218;
    border-radius: 15px;
    left: 330px;
    width: calc(100% - 360px);
    bottom: 50px;
    padding: 10px;
    box-sizing: border-box;
}

#date-nag {
    position: relative;
    color: #8f8f8f;
    font-size: 90%;
    display: block;
    margin-top: 15px;
    text-align: center;
}

.count-buy {
    position: absolute;
    right: 10px;
    color: #ff6a00;
    top: 25px;
}

#pouch {
    position: absolute;
    width: 45px;
    height: 45px;
    right: 20px;
    bottom: 15px;
    background: #e29d1e;
    border-radius: 50%;
    padding: 6px;
    cursor: pointer;
    transition: 0.4s;
}

#pouch:hover {
    background: #ff6a00;
    scale: 1.2;
}

#pouch-con {
    position: absolute;
    right: 20px;
    width: 55px;
    bottom: -100%;
    height: fit-content;
    background-color: #00000042;
    border-radius: 15px 15px 0px 0px;
    padding-bottom: 30px;
    padding-top: 15px;
    transition: 0.3s;
    opacity: 0;
}

.pouch-elem {
    position: relative;
    height: 55px;
    cursor: pointer;
    transition: 0.4s;
}

.pouch-elem:hover {
    background: #e29d1e;
}

#fun-load {
    position:absolute;
    filter: opacity(0.01);
    pointer-events: none;
}

.boom {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 0;
    top: 0;
    background-image: url(images/boom.png);
    background-size: cover;
    pointer-events: none;
    transition: 0.35s;
}

@keyframes flareAnimation {
    0% {
        left: -150%;
    }
    100% {
        left: 150%;
    }
}

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* ==========================
    Админка
========================== */
#bottomAdminPanel {
    position: absolute;
    width: 100%;
    height: 80px;
    background-color: #1c1a1a96;
    left: 0;
    bottom: 0;
    z-index: 1;
    padding-left: 15px;
    padding-top: 15px;
    box-sizing: border-box;
    overflow: auto;
}

.imgAdminDecor {
    position: relative;
    width: 50px;
    height: 50px;
    border: 1px solid #ffffff17;
    float: left;
    background-repeat: no-repeat;
    box-sizing: border-box;
    text-align: center;
    line-height: 50px;
    color: #fff;
}

.imgAdminDecor:hover {
    background-color: #00d7ff;
}